@charset "UTF-8";
.contenedorPrincipal {
  background-color: rgba(0, 0, 0, 0.0705882353);
  margin-left: 30px;
  margin-right: 20px;
}

.hipervinculoHome {
  flex-direction: row;
  color: #000000;
}
.hipervinculoHome:hover {
  text-decoration: none;
  color: #cb002c;
}
.hipervinculoHome header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.hipervinculoHome header .logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav a {
  color: #000000;
  padding: 30px;
}
nav a:hover {
  text-decoration: none;
  color: #cb002c;
}
nav .nav-link {
  margin-right: 30px;
}

footer {
  margin-top: 50px;
}
footer .rrss {
  font-family: "Roboto Flex", serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
footer .rrss h3.h3Grande {
  font-size: 20px;
}
footer .rrss .hipervInsta a {
  text-decoration: none;
  color: #000000;
}
footer .rrss .hipervInsta a:hover {
  color: #cb002c;
}
footer .rrss .hipervInsta a .logoInsta {
  width: 30px;
}

.boton {
  background-color: #cb002c;
  transition-property: background-color;
  transition-duration: 0.1s;
  border: none;
  color: #ffffff;
  padding: 10px 32px; /* Relleno */
  text-align: center;
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 14px; /* Tamaño del texto */
  font-weight: 500; /*grosor del texto*/
  margin: 4px 2px; /* Margen */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  border-radius: 30px;
}
.boton:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(26, 26, 26);
}

.ubicacionBoton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ubicacionBoton .boton {
  background-color: #cb002c;
  transition-property: background-color;
  transition-duration: 0.1s;
  border: none;
  color: #ffffff;
  padding: 10px 32px; /* Relleno */
  text-align: center;
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 14px; /* Tamaño del texto */
  font-weight: 500; /*grosor del texto*/
  margin: 4px 2px; /* Margen */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  border-radius: 30px;
}
.ubicacionBoton .boton:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(26, 26, 26);
}

.card-sobreNosotros {
  margin: auto;
  height: auto;
  width: 70%;
  max-width: 1205px;
}

.row.g-0 {
  display: flex;
  height: 100%;
}
.row.g-0 .col-md-4 {
  display: flex;
  align-items: stretch;
  height: 100%;
  object-fit: cover;
}
.row.g-0 .col-md-4 .card-image {
  margin-left: 100px;
  width: 100%;
  max-width: 400%;
  height: auto;
  object-fit: cover;
}
.row.g-0 .card-body {
  font-family: "Roboto Flex", serif;
  font-weight: 200;
}
.row.g-0 .card-body .card-text {
  font-size: 1rem;
}

ul {
  list-style-type: none; /* Elimina el punto */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
ul .ultimosTrabajos {
  width: 300px;
}

.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.galeria img {
  max-width: 25%;
  height: auto;
  margin: 5px;
  border: 1px solid #ddd;
}

* {
  font-family: "Roboto Flex", serif;
}

/*main*/
.h3Grande {
  font-size: 35px;
  font-family: "Roboto Flex", serif;
  display: flex;
  justify-content: center;
}

.parrafos {
  font-weight: 200;
}

/*# sourceMappingURL=styles.css.map */
