//header 
.contenedorPrincipal{
    background-color: $backgroundColor;
    margin-left: 30px;
    margin-right: 20px;
}
.hipervinculoHome{
    flex-direction: row;
    color: $colorTexto;
    &:hover{
        @include textoHover(none,$colorPrimario)
        }
        header {
            display: flex;
            justify-content: center;
            align-items: center; 
            height: 200px; 
            .logo{
                width: 100px;
                height: 100px;
                margin-right: 10px; //espacio entre la imagen y el título
            }
        }
    }
//nav bar
nav {
    @include ubiFlexTexto(flex,space-around);
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
        color: $colorTexto;
        padding: 30px;
            &:hover{
                @include textoHover(none,$colorPrimario);
            }
    }
    .nav-link{
     margin-right: 30px;
            }
}